 *{
    margin:0px;
    padding:0px;
 }
 body{
    padding: 2px;
    margin:2px;
 }
 

.container {
  display: grid;
  place-items: center;
  height: 100px; /* Altura del contenedor */
}

.parrafos {
  /* Estilos adicionales para el div */
  color:blue;
  font-size: medium;
  padding: 0.8em;
  
}        
footer {
  position: sticky;
  bottom: 0;
  background-color: #f0f0f0; /*  O cualquier otro color de fondo */
  padding: 20px;
  text-align: center;
  width: 100%;
}